<!doctype html>
<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Página Responsive  -->

</head>
<body>
	<h1 style="color:red">Titulacion: {{titulacion}}</h1>
	<h2 style="color:green">Agregar Asignatura</h2>
	
	<form action="/root/titulacion/{{id}}/agregar-asignatura/nueva-asignatura" method="post">
		<p>Asignaturas:</p>
			{{#asignaturas}}
				<input type="radio" name="asignatura" value="{{id}}">{{nombre}}<br>
			{{/asignaturas}}
		<br><input type="submit" value="Agregar Asignatura"><br>
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>

</body>

</html>