<!doctype html>
<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Página Responsive  -->

</head>
<body>
	<h1 style="color:red">Titulacion: {{nombre}}</h1>
	<h2 style="color:green">Nueva Asignatura</h2>
	
	<form action="/root/titulacion/{{id}}/alta-asignatura/nueva-asignatura" method="post">
		<p>Asignatura:</p>
		<input type="text" name="nombre"><br><br>
		<input type="submit" value="Agregar Asignatura"><br>
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>

</body>

</html>