<!doctype html>
<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Página Responsive  -->

</head>
<body>

	<h1 style="color:red"><a href="/">URJC ACADEMY</a></h1>

	<form action="/login" method="post">
		<label>Login:</label><br><input type="text" name="login" /><br />
		<label>Password:</labe><br><input type="password" name="pass" /><br />
		<!-- <a href="/recuperar-pass">Recuperar Contraseña</a>  -->
		<input type="submit" value="Sign In" /><br />
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>

</body>

</html>