<!doctype html>
<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Página Responsive  -->

</head>
<body>

	<h1 style="color:blue">URJC-Academy</h1>
	<h3 style="color:green">Asignatura - {{asignatura}}</h3>
	<h4 style="color:green">Titulacion - {{titulacion}}</h4>
	
	<h4 style="color:red">Alumnos a matricular:</h4>
	<form action="/root/asignatura/{{id}}/matricular-alumno/nuevo" method="post">
		{{#alumnos}}
		<!--  <input type="checkbox" name="alumnos" value="{{id}}">{{nombre}} {{apellido}}<br> -->
		<input type="radio" name="usuario" value="{{id}}">{{nombre}} {{apellido}}<br>
		{{/alumnos}}
		<br>
		<input type="submit" value="Matricular Alumnos"><br>
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>
	

</body>


</html>