<!doctype html>
<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Página Responsive  -->

</head>
<body>

	<h1 style="color:red"><a href="/">URJC ACADEMY</a></h1>

	<form action="/asignatura/{{id}}/subir-contenido" method="post">
		<label>Tema:</label><br><input type="text" name="tema" /><br/>
		<label>Enlace:</labe><br><input type="text" name="linkApuntes" /><br/>
		<!--<a href="/apuntes/volver-atras">Volver</a>-->
		<input type="submit" value="Subir Contenido"/><br/>
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>

</body>

</html>