<!doctype html>
<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Página Responsive  -->

</head>
<body>

	<h2 style="color:green">Titulación</h2>
	<p>Nombre: {{nombre}}</p>
	<p>Rama: {{rama}}<br><br>
	<p>Asignaturas:</p>
	
		{{#asignaturas}}
		<ul>
			<li><a href="/root/titulacion/asignatura/{{id}}">{{nombre}}</a></li>
		</ul>
		{{/asignaturas}}
	<br>
	<a href="/root/titulacion/{{id}}/alta-asignatura">Crear/Agregar Nueva Asignatura</a><br>
	<a href="/root/titulacion/{{id}}/agregar-asignatura">Agregar Asignatura</a><br>
	<a href="/root/titulacion/borrar/{{id}}">Borrar titulacion</a><br>
	<a href="/root">Volver</a>
	
</body>

</html>