<!doctype html>
<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Página Responsive  -->

</head>
<body>

	<h2 style="color:green">{{rol}}</h2>
	<p>Nombre: {{nombre}}</p>
	<p>Contacto:</p>
		
		<ul>
			<li>Correo: {{maiLogin}}</li>
			<li>Teléfono: {{tlf}}</li>
		</ul>
		
	<p>Asignaturas:</p>
	
		
		<ul>
			{{#asignaturas}}
			<li><a href="/asignatura/{{id}}">{{nombre}}</a></li>
			{{/asignaturas}}
		
		</ul>
		
		
	<p>Tutorias Pendientes:</p>
	
		<ul>
			{{#tutorias}}
			<li><a href="">{{profesor}}</a></li>
			{{/tutorias}}
		</ul>	
		
	<br>
	{{#soyRoot}}
		{{#esProfesor}}
			<a href="/root/profesores/{{id}}/borrar">Dar de baja profesor</a><br>
		{{/esProfesor}}
		{{#esAlumno}}
			<a href="/root/alumnos/{{id}}/borrar">Dar de baja alumno</a><br>
		{{/esAlumno}}
		<a href="/root">Volver</a>
	{{/soyRoot}}
	{{#soyUsuario}}
	<a href="/">Cerrar Sesión</a>
	{{/soyUsuario}}
	
</body>

</html>